<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="/tableStyle.css">
</head>
<body>
    <h2>comment</h2>
    <table id="comments"></table>
    <h2>category</h2>
    <table id="categories"></table>
    <h2>user</h2>
    <table id="users"></table>
    <h2>post</h2><button class="button-true" onclick="postAdd();">+</button>
    <table id="posts"></table>
    <h2>tag</h2><button class="button-true" onclick="tagAdd();">+</button>
    <table id="tags"></table>
    <script src="/timer.js"></script>
    <script src="/tableMaker.js"></script>
    <script>
        var o = "res[y].";
        tableCreate("comments","comments/findAll",["id", "content", "authorName", "authorEmail", "approved","approvedSetter", "createdTime", "postLink"],[o + "id", o + "content", o + "authorName", o + "authorEmail",`"<span class='comment-"+` + o + `approved+"'>"+`+o+`approved+"</span>"`,`"<div class='buttons'><button class='button-null' onclick='setApproved(null,"+`+o+"id"+`+");'>null</button><button class='button-true' onclick='setApproved(true,"+`+o+"id"+`+");'>true</button><button class='button-false' onclick='setApproved(false,"+`+o+"id"+`+");'>false</button></div>"`, "timeDiffString(" + o + "createdAt)", `"<a href='../post?slug="+` + o + `postSlug+"'>link</a>"`]);
        tableCreate("users","users/findAll",["id", "fullName", "username", "password", "email", "createdTime", "role"],[o + "id", o + "fullName", o + "username", o + "password", o + "email", "timeDiffString(" + o + "createdAt)", o+"role"]);
        tableCreate("categories","categories/findAll",["id", "name", "slug", "description","link"],[o + "id", o + "name", o + "slug", o + "description", `"<a href='../category?slug="+` + o + `slug+"'>link</a>"`]);
        tableCreate("posts","posts/findAll",["id", "title", "excerpt","status","userId","createdAt","updateAt","publishAt","views","categoryId","link","buutons"],[o + "id", o + "title", o + "excerpt", o + "status",o+"userId", "timeDiffString(" + o + "createdAt)", "timeDiffString(" + o + "updateAt)", "timeDiffString(" + o + "publishAt)",o+"views",o+"categoryId", `"<a href='../post?slug="+` + o + `slug+"'>link</a>"`,`"<div class='buttons'><button class='button-null' onclick='setPost("+`+o+"id"+`+");'>*</button><button class='button-false' onclick='deletePost("+`+o+"id"+`+");'>-</button></div>"`]);
        tableCreate("tags","tags/findAll",["id", "name", "postId","link","buttons"],[o + "id", o + "name", o + "postId",`"<a href='../tag?slug="+` + o + `slug+"'>link</a>"`,`"<div class='buttons'><button class='button-null' onclick='setTag("+`+o+"id"+`+");'>*</button><button class='button-false' onclick='deleteTag("+`+o+"id"+`+");'>-</button></div>"`]);
        function tableCreate(table,address,td,th) {
            fetch("http://localhost:8083/"+address)
                .then(res => res.json())
                .then(res => {
                    document.getElementById(table).innerHTML = tableMaker(res, td, th);
                })
        }
        function setApproved(approved,commentId)
        {
            var t="&approved="+approved;
            if(approved==null)
            {
                t="";
            }
            fetch("http://localhost:8083/comments/setApproved?commentId="+commentId+t)
            //.then(a=>{/*document.getElementById("c").style.display="inline";*//*location.reload();});
        }
        function tagAdd()
        {
            fetch("http://localhost:8083/tags/add")
        }
        function setTag(id)
        {
            location.replace("/updateTag?id="+id);
        }
        function deleteTag(id)
        {
            fetch("http://localhost:8083/tags/delete?id="+id)
        }
        function postAdd()
        {
            fetch("http://localhost:8083/posts/add")
        }
        function setPost(id)
        {
            location.replace("/updatePost?id="+id);
        }
        function deletePost(id)
        {
            fetch("http://localhost:8083/posts/delete?id="+id)
        }
    </script>
</body>
</html>