<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>وبلاگ</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header id="header"></header>
<div class="container">
    <center>
        <div class="logo" style="font-size: 60px;">
            <span>W</span><span>e</span><span>b</span><span>l</span><span>o</span><span>g</span>
        </div>
        <br>
        <br>
        <p>جستجو میان <span id="number"></span> وبلاگ</p>
        <div style="width: 200px;display: flex;height: 30px;">
            <div onclick="SEARCH();" style="width: 30px;background-color: blue;border: 2px solid blue;">🔎</div>
            <input id="searcher" placeholder="جستجو مقاله" style="width: 170px;background-color: transparent;border: 2px solid blue;">
        </div>
        <div id="search" style="display: none;">
            <br>
            <br>
            <h2 id="searchName"></h2>
            <div id="searchResult"></div>
        </div>
        <br>
        <br>
        <h2>دسته بندی ها</h2>
        <div id="categories"></div>
        <br>
        <br>
        <h2>جدیدترین وبلاگ ها</h2>
        <div id="newWeblogs"></div>
        <br>
        <br>
        <h2>پربازدیدترین وبلاگ ها</h2>
        <div id="moreView"></div>
    </center>
</div>
<footer id="footer"></footer>
<script src="/footerMaker.js"></script>
<script src="/headerMaker.js"></script>
<script src="/worker.js"></script>
<script>
    var searcher=document.getElementById("searcher");
    searcher.onkeypress=function (e)
    {
        if(e.key=="Enter")
        {
            SEARCH();
        }
    }
    fetch("http://localhost:8083/posts/count")
        .then(res => res.text())
        .then(res=>{
            document.getElementById("number").innerHTML="+"+round(res);
        })
    fetch("http://localhost:8083/categories/findAll")
    .then(res=>res.json())
    .then(res=>{
        document.getElementById("categories").innerHTML=listCategoryMaker(res);
    })
    fetch("http://localhost:8083/posts/findTop4ByOrderByCreatedAtDesc")
        .then(res=>res.json())
        .then(res=>{
            document.getElementById("newWeblogs").innerHTML=listPostMaker(res);
        })
    fetch("http://localhost:8083/posts/findTop4ByOrderByViewsDesc")
    .then(res=>res.json())
    .then(res=>{
        document.getElementById("moreView").innerHTML=listPostMaker(res);
    })
    function SEARCH()
    {
        var search=searcher.value;
        if(search=="")
        {
            return;
        }
        document.getElementById("search").style.display="inline";
        document.getElementById("searchName").innerHTML="جستجو برای "+search;
        document.getElementById("searchResult").innerHTML="loading...";
        fetch("http://localhost:8083/posts/findByTitleContaining?search="+search)
        .then(res=>res.json())
        .then(res=>{
            var result=listPostMaker(res);
            if(res.length==0)
            {
                result="بدون نتیجه";
            }
            document.getElementById("searchResult").innerHTML=result;
        })
    }
</script>
</body>
</html>