<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header id="header"></header>
    <div class="container">
        <div id="content">loading...</div>
        <div id="tags">loading...</div>
        <div class="comments-section">
            <h3>نظرات کاربران</h3>
            <div id="comments">
                loading...
            </div>
            <div class="comment-box">
                <textarea id="comment" placeholder="نظرت چیه؟"></textarea>
                <button onclick="COMMENT()">➤</button>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
    <script src="/headerMaker.js"></script>
    <script src="/footerMaker.js"></script>
    <script src="/timer.js"></script>
    <script>
        var commenter=document.getElementById("comment");
        commenter.onkeypress=function (e) {
            if(e.key=="Enter") COMMENT();
        }
        const params = new URLSearchParams(window.location.search);
        const slug = params.get("slug");
        fetch("http://localhost:8083/posts/findBySlug?slug="+slug)
        .then(res=>res.json())
        .then(res=>{
            document.getElementById("content").innerHTML=res.content;
        })
        fetch("http://localhost:8083/tags/findAllByPostId?slug="+slug)
        .then(res=>res.json())
        .then(res=>{
            var text="";
            for(var i=0;i<res.length;i++)
            {
                if(i!=0)
                {
                    text+="<br>";
                }
                text+="<a href='../tag?slug="+res[i].slug+"'>#"+res[i].name+"</a>";
            }
            document.getElementById("tags").innerHTML=text;
        })
        fetch("http://localhost:8083/comments/findAllBySlug?slug="+slug)
        .then(res=>res.json())
        .then(res=>{
            var text=``;
            for(var i=0;i<res.length;i++)
            {
                text+=`<div class="comment-card">
                    <div class="username">`+res[i].authorName+`</div>
                    <div class="comment-text">`+res[i].content+`</div>
                    <br>
                    <span>`+timeDiffString(res[i].createdAt)+`</span>
                </div>
`;
            }
            if(text=="")
            {
                text="هیچ نظری ثبت نشده.";
            }
            document.getElementById("comments").innerHTML=text;
        })
        function COMMENT()
        {
            var text=document.getElementById("text");
            if(text=="")
            {
                return;
            }
            if(confirm("نظر ارسال شود؟"))
            {
                // fetch("http://localhost:8083/comments/", {
                //     method: "POST",
                //     headers: {
                //         "Content-Type": "application/json",
                //     },
                //     body: JSON.stringify({
                //         postSlug: slug,
                //         content: text
                //     }),
                //     credentials: "include"
                // });
            }
        }
    </script>
</body>
</html>